.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 8px;

    margin-top: 36px;
    margin-bottom: 32px;
}

.form-input {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-family: "Montserrat", sans-serif;

    transition: border-color 250ms ease-in-out;
}

.form-input:hover {
    border-color: black;
    outline: none;
}

.form-input:focus {
    border-color: #4e75ff;
    outline: none;
}

.form-input::placeholder {
    font-weight: 400;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;
    font-family: "Montserrat", sans-serif;
}

.form-button {
    border-radius: 8px;
    padding-block: 8px;
    padding-inline: 16px;
    width: 91px;
    height: 40px;
    background-color: #4e75ff;

    font-weight: 500;
    font-size: 16px;

    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    font-family: "Montserrat", sans-serif;

    transition: background-color 250ms ease-in-out;
}

.form-button:hover,
.form-button:focus {
    background-color: #6c8cff;
}